@import "~materialize-css/dist/css/materialize.min.css";

.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}

.pt20 {
  padding-top: 20px;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}

.font-w5 {
  font-weight: 500;
}
